<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting...</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/images/my-favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Montserrat&family=Outfit&family=Sacramento&display=swap" rel="stylesheet">
    <meta http-equiv="Refresh" content="3;url={{url_for('home')}}">
</head>
<body class="redirect-page">
<p class="redirect-message" style="margin-top: 225px; text-align: center; font-size: 1.7rem; color:#66BFBF ">
    I got your message!
</p>
<p class="redirect-message" style="color: #194350; margin-bottom:2%; font-size:1.05rem; ">now sending you home...🚀</p>
<img class="loading-bar" src="static/images/loading-bar.gif">
</body>
</html>